@using dojo_survey.Models;
@model SurveyResponse;
@{
  ViewData["Title"] = "Results Page";
}


    <div class="container position-absolute top-50 start-50 translate-middle bg-primary p-3 text-light rounded shadow">
        <h1>Form Results!</h1>
        <table class="table text-light">
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
                        <tr>
                <td>Place</td>
                <td>@Model.Place</td>
            </tr>
                        <tr>
                <td>Activity</td>
                <td>@Model.Activity</td>
            </tr>
                        <tr>
                <td>Comment</td>
                <td>@Model.Comment</td>
            </tr>
        </table>

        <a href ="/"> <button class="btn btn-warning">Go Back</button></a>
    </div>
