*{
    margin: 0px;
    padding: 0px;
}

img.octocat
{
    
    height: 200px;
  
}
div
{
    padding:10px;
}

.row
{
    display:flex;
    background-color: Purple;
    width:660px;
    margin:20px;
}

.space-around{ justify-content: space-around;
    
}
.space-between{justify-content: space-between;}

.space-evenly{
justify-content:space-evenly;
}
.bg-orange{background-color:orange;}
.bg-purple{background-color: purple;}
.bg-pink{background-color:pink;}
