
@model Users

<div class="container d-flex">
    <div class="halfContainer border-right">
        <partial name="_Register">
    </div>
    <div class="halfContainer">
        <partial name="_Login">
    </div>
</div>