<h2>Already Registered</h2>
<h1>Successfully Logged in!</h1>
<p>You should probably redirect this to somewhere else instead of a generic success page</p>

<form asp-action="logout" asp-controller="user" methods="POST"><button>Logout</button></form>