@{
    ViewData["Title"] = "Home Page";
}

@model QuoteModel;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<form method="POST" asp-controller="Home" asp-action="validate"> 
    <span asp-validation-for="Creator"></span>
    <label asp-for="Creator"></label>
    <input asp-for="Creator">    

    <span asp-validation-for="Content"></span>
    <label asp-for="Content"></label>
    <input asp-for="Content">    

    <button>SUBMIT</button>
</form>