*
{
    margin: 0px;
    padding: 0px;
}

.container
{
    margin: 40px auto;
    width: 1080px;
    padding: 30px;
}

.ui_width{
    width:80%
}
.padding > *
{
    margin: right 30px;
    padding: 15px;
}