@{
    ViewData["Title"] = "Categoires";
}

@model Categories

<div class="container d-flex">
    <h1 class="halfContainer text-right border-right"> <a asp-action="" asp-controller="products">Products</a> </h1>
    <h1 class="halfContainer"> Categories </h1>
</div>
<div class="container d-flex">
    <div class="halfContainer text-center border-right">

     <h1>New Product</h1>
    <form asp-action="add" asp-controller="categories" methods="POST">
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="d-flex justify-content-between">
            <label asp-for="Name"></label>
            <input asp-for="Name">
        </div>

        <button class="btn btn-primary">Create!</button>
    </form>
    </div>
    <div class="halfContainer">
        <h1 class="text-center">Existing Products</h1>
        <ul>
            @foreach (var category in ViewBag.Categories)
            {
                <li><a asp-action="details" asp-route-CategoryName="@category.Name" asp-controller="categories">@category.Name</a></li>
            }
        </ul>
    </div>
</div>