@{
    ViewData["Title"] = "Login!";
}
@model LoginUser

<div class="text-center">
    <h2>Have an account?</h2>
    <h1>Login!</h1>
<form method="POST" action="validate" style="width:600px; margin:0px auto;">
    <span asp-validation-for="Email" class="text-danger"></span>
    <div class="d-flex justify-content-between  mt-3">
        <label asp-for="Email"></label>
        <input asp-for="Email">
    </div>

    <span asp-validation-for="Password" class="text-danger" ></span>
    <div class="d-flex justify-content-between mt-3">
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>

    <button class="btn btn-success">Login!</button>
</form>
</div>