*
{
    margin: 0;
    padding: 0;
}

.cardBody
{
    width: 600px;
    background-color:cornsilk;
    margin:60px auto;   
    display:flex;
    flex-direction: column;
}

.cardBanner
{
    width: inherit;
    height:100px;
    background-color: darkturquoise;
    box-shadow: inset 0px -5px 10px 5px rgba(0, 0, 0, 0.25);
}

.cardContent
{
    display:flex;
    flex-direction: column;
    position:relative;
    margin: -48px 48px 32px 48px;
}

.profilePic
{
    width:96px;
    border-style:solid; 
    border-width: 6px;
    border-color:white; 
    border-radius: 50%;
    box-shadow: 0px 0px 7px black;
}

.systemIcon
{
    height: 16px;
}

.cardItem
{
    margin:5px 0px;
}