<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p class= "text-warning">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 class='fs-4 fw-bold fs-4 fw-bold text-light'>Dojo Survey</h1>
        <form action="/results/create" method="post">
            <div class="d-flex mb-2">
                <label class='mr-auto p-2 fs-4 fw-bold text-light' for="name">Your Name</label>
                <input class='p-2  ui_width' name="name" placeholder="Obi-wan"> 
            </div>
            <div class="d-flex mb-2">
                <label class='mr-auto p-2 fs-4 fw-bold text-light' for="location">Dojo Location</label>
                <select class='p-2 ui_width' name="dojo_id" placeholder="Select A location">
                    <option value="0">-- Select A Location -- </option>
                    {%for dojo in dojos%}
                    <option value="{{dojo['id']}}">{{dojo['location']}}</option>
                    {%endfor%}
                </select>
            </div>
            <div class="d-flex mb-2">
                <label class='mr-auto p-2 fs-4 fw-bold text-light' for="location">Favorite Language</label>
                <select class='p-2 ui_width' name="language_id" placeholder="Select A location">
                    <option value="0">-- Select A Language -- </option>
                    {%for language in languages%}
                    <option value="{{language['id']}}"> {{language['name']}} </option>
                    {%endfor%}
                </select>
            </div>
            <div class='d-flex mb-2 flex-column'>
                <label class='mr-2 fs-4 fw-bold text-light' for="commnet">ExtraComments</label>
                <textarea  class='p-2'  name="response" placeholder="Tell us about your troubles"></textarea>
            </div>
            <div class="d-flex col-2 mx-auto extra_margin">
                <button class="btn btn-warning" >Submit</button>
            </div>
        </form>
  
    </div>
</body>
</html>