@{
    ViewData["Title"] = "Users Page";
}
@model User


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Hello!</h2>
<h1>@Model.firstName @Model.lastName</h1>


</table>
