@{
    ViewData["Title"] = "Login Registration Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div> *@

<div class="container d-flex flex-row justify-content-around">
    <div>
        <h1>Register an Account!</h1>
        <partial name="RegisterPartial" />
    </div>
    <div>
        <h2>Already have an account?</h2>
        <h1>Log in!</h1>
        <partial name="LoginPartial" />
    </div>
</div>